<header id="header" class="navbar navbar-expand-lg navbar-end navbar-absolute-top navbar-light navbar-show-hide"
        data-hs-header-options='{
          "fixMoment": 1000,
          "fixEffect": "slide"
        }'>
  <!-- Topbar -->
  <!-- @@include("../navbar/topbar-demo.html", {
    "topbarcategory": "@@topbarcategory",
    "topbarlink": "@@topbarlink"
  }) -->
  <!-- End Topbar -->

  <div class="container">
    <nav class="js-mega-menu navbar-nav-wrap">
      <!-- Default Logo -->
      <a class="navbar-brand" href="@@autopath/index.html" aria-label="Front">
        <img class="navbar-brand-logo img-responsive" src="@@autopath/assets/svg/logos/prognifylogo.svg" alt="Logo">
      </a>
      <!-- End Default Logo -->

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-default">
          <i class="bi-list"></i>
        </span>
        <span class="navbar-toggler-toggled">
          <i class="bi-x"></i>
        </span>
      </button>
      <!-- End Toggler -->
      
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="navbar-absolute-top-scroller">
          <ul class="navbar-nav">
            <!-- @@include("../navbar/my-navbar-nav-menu.html", {
              "category": "@@category",
              "subcategory": "@@subcategory",
              "link": "@@link"
            }) -->

            <!-- Button -->
            <li class="nav-item">
              <p>Need help? Call us <a href="tel: +1-734-249-6800">(734) 249-6800</a></p>
              <!-- <a class="btn btn-primary btn-transition" href="@@autopath/schedule.html">Book a Visit</a> -->
            </li>
            <!-- End Button -->
          </ul>
        </div>
      </div>
      <!-- End Collapse -->
    </nav>
  </div>
</header>
