<!-- Landings -->
<li class="hs-has-mega-menu nav-item">
  <!-- <a id="landingsMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle @@if(category=='landings'){active}" aria-current="page" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="badge bg-primary rounded-pill ms-1">COVID-19 Testing</span></a> -->
  <a id="landingsMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle @@if(category=='landings'){active}" aria-current="page" href="@@autopath/covid-19.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">COVID-19 Testing</a>

  <!-- Mega Menu -->
  <div class="hs-mega-menu dropdown-menu w-100" aria-labelledby="landingsMegaMenu" style="min-width: 30rem;">
    <div class="row">
      <!-- <div class="col-lg-6 d-none d-lg-block"> -->
        <!-- Banner Image -->
        <!-- <div class="navbar-dropdown-menu-banner" style="background-image: url(@@autopath/assets/svg/components/shape-3.svg);">
          <div class="navbar-dropdown-menu-banner-content">
            <div class="mb-4">
              <span class="h2 d-block">Branding Works</span>
              <p>Experience a level of our quality in both design &amp; customization works.</p>
              <p>Keeping you and  &amp; customization works.</p>
            </div>
            <a class="btn btn-primary btn-transition" href="#">Learn more <i class="bi-chevron-right small"></i></a>
          </div>
        </div> -->
        <!-- End Banner Image -->
      <!-- </div> -->
      <!-- End Col -->

      <div class="col-lg-6">
        <div class="navbar-dropdown-menu-inner">
          <div class="row">
            <div class="col-sm mb-3 mb-sm-0">
              <span class="dropdown-header">SERVICES</span>
              <a class="dropdown-item @@if(link=='landing-classic-corporate.html'){active}" href="@@autopath/covid-19.html">In-Clinic COVID-19 Testing</a>
              <a class="dropdown-item @@if(link=='landing-classic-analytics.html'){active}" href="@@autopath/covid-19-testing-at-home.html">At-Home Testing<span class="badge bg-primary rounded-pill ms-1">New</span></a>
              <a class="dropdown-item @@if(link=='landing-classic-studio.html'){active}" href="@@autopath/covid-19-testing-for-travel.html">Get Travel Ready</a>
              <a class="dropdown-item @@if(link=='landing-classic-studio.html'){active}" href="@@autopath/virtual-care.html">Virtual Care</a>
              <!-- <a class="dropdown-item @@if(link=='landing-classic-marketing.html'){active}" href="@@autopath/landing-classic-marketing.html">COVID-19 Testing for Work</a>
              <a class="dropdown-item @@if(link=='landing-classic-advertisement.html'){active}" href="@@autopath/landing-classic-advertisement.html">COVID-19 Testing for School</a>
              <a class="dropdown-item @@if(link=='landing-classic-consulting.html'){active}" href="@@autopath/landing-classic-consulting.html">COVID-19 Testing for Events</a>
              <a class="dropdown-item @@if(link=='landing-classic-portfolio.html'){active}" href="@@autopath/landing-classic-portfolio.html">Portfolio</a>
              <a class="dropdown-item @@if(link=='landing-classic-software.html'){active}" href="@@autopath/landing-classic-software.html">Software</a>
              <a class="dropdown-item @@if(link=='landing-classic-business.html'){active}" href="@@autopath/landing-classic-business.html">Business</a> -->
              
              
            </div>
            <!-- End Col -->

            <div class="col-sm">
              <div class="mb-3">
                <span class="dropdown-header">COVID-19 Group Tests</span>
                <a class="dropdown-item @@if(link=='landing-app-ui-kit.html'){active}" href="@@autopath/on-site-covid-19-testing-for-business.html">Keep Your Workplace Safe</a>
                <a class="dropdown-item @@if(link=='landing-app-saas.html'){active}" href="@@autopath/on-site-covid-19-testing-for-schools.html">Reopen Schools Safely</a>
                <a class="dropdown-item @@if(link=='landing-app-workflow.html'){active}" href="@@autopath/on-site-covid-19-testing-for-events.html">Testing for Events</a>
                <!-- <a class="dropdown-item @@if(link=='landing-app-payment.html'){active}" href="@@autopath/landing-app-payment.html">Payment</a>
                <a class="dropdown-item @@if(link=='landing-app-tool.html'){active}" href="@@autopath/landing-app-tool.html">Tool</a> -->
              </div>

              <!-- <span class="dropdown-header">Onepage</span>
              <a class="dropdown-item @@if(link=='landing-onepage-corporate.html'){active}" href="@@autopath/landing-onepage-corporate.html">Corporate</a>
              <a class="dropdown-item @@if(link=='landing-onepage-saas.html'){active}" href="@@autopath/landing-onepage-saas.html">SaaS <span class="badge bg-primary rounded-pill ms-1">Hot</span></a> -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Mega Menu -->
</li>
<!-- End Landings -->
<a class="nav-link" href="@@autopath/urgent-care.html">Urgent Care</a>
<a class="nav-link" href="@@autopath/virtual-care.html">Virtual Care</a>
<a class="nav-link" href="@@autopath/mobile-urgent-care.html">Mobile Care<span class="badge bg-success rounded-pill ms-1">New</span></a>
<!-- Company -->
<!-- <li class="hs-has-sub-menu nav-item">
  <a id="companyMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle @@if(category=='company'){active}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Urgent Care</a> -->

  <!-- Mega Menu -->
  <!-- <div class="hs-sub-menu dropdown-menu" aria-labelledby="companyMegaMenu" style="min-width: 14rem;">
    <a class="dropdown-item @@if(link=='page-about.html'){active}" href="@@autopath/page-about.html">Urgent Care</a>
    <a class="dropdown-item @@if(link=='page-services.html'){active}" href="@@autopath/page-services.html">Virtual Care</a>
    <a class="dropdown-item @@if(link=='page-customer-stories.html'){active}" href="@@autopath/page-customer-stories.html">Mobile Urgent Care</a>
    <a class="dropdown-item @@if(link=='page-customer-story.html'){active}" href="@@autopath/page-customer-story.html">Customer Story</a>
    <a class="dropdown-item @@if(link=='page-careers.html'){active}" href="@@autopath/page-careers.html">Careers</a>
    <a class="dropdown-item @@if(link=='page-careers-overview.html'){active}" href="@@autopath/page-careers-overview.html">Careers Overview</a>
    <a class="dropdown-item @@if(link=='page-hire-us.html'){active}" href="@@autopath/page-hire-us.html">Hire Us</a>
    <a class="dropdown-item @@if(link=='page-pricing.html'){active}" href="@@autopath/page-pricing.html">Pricing</a>
    <a class="dropdown-item @@if(link=='page-contacts-agency.html'){active}" href="@@autopath/page-contacts-agency.html">Contacts: Agency</a>
    <a class="dropdown-item @@if(link=='page-contacts-startup.html'){active}" href="@@autopath/page-contacts-startup.html">Contacts: Startup</a> -->
  <!-- </div>  -->
  <!-- End Mega Menu -->
<!-- </li> -->
<!-- End Company -->

<!-- Account -->
<li class="hs-has-sub-menu nav-item">
  <a id="accountMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle @@if(category=='account'){active}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Employer Services</a>

  <!-- Mega Menu -->
  <div class="hs-sub-menu dropdown-menu" aria-labelledby="accountMegaMenu" style="min-width: 14rem;">
    <!-- Authentication -->
    <!-- <div class="hs-has-sub-menu nav-item">
      <a id="authenticationMegaMenu" class="hs-mega-menu-invoker dropdown-item dropdown-toggle @@if(subcategory=='authentication'){active}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Authentication</a>

      <div class="hs-sub-menu dropdown-menu" aria-labelledby="authenticationMegaMenu" style="min-width: 14rem;">
        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#signupModal">Signup Modal</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Login</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">Signup</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">Reset Password</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item @@if(link=='page-login-simple.html'){active}" href="@@autopath/page-login-simple.html">Login Simple</a>
        <a class="dropdown-item @@if(link=='page-signup-simple.html'){active}" href="@@autopath/page-signup-simple.html">Signup Simple</a>
        <a class="dropdown-item @@if(link=='page-reset-password-simple.html'){active}" href="@@autopath/page-reset-password-simple.html">Reset Password Simple</a>
      </div>
    </div> -->
    <!-- End Authentication -->
    
    <a class="dropdown-item @@if(link=='account-overview.html'){active}" href="@@autopath/work-related-physicals.html">Work-related Physicals</a>
    <a class="dropdown-item @@if(link=='account-security.html'){active}" href="@@autopath/dot-physicals.html">DOT Physical Exam</a>
    <a class="dropdown-item @@if(link=='account-notifications.html'){active}" href="@@autopath/drug-screenings.html">Drug Screens</a>
    <a class="dropdown-item @@if(link=='account-preferences.html'){active}" href="@@autopath/workers-compensation.html">Workers Injury - Workers Comp</a>
    <a class="dropdown-item @@if(link=='account-preferences.html'){active}" href="@@autopath/on-site-flu-clinics.html">Flu Clinics</a>
    <!-- <a class="dropdown-item @@if(link=='account-orders.html'){active}" href="@@autopath/account-orders.html">Orders</a>
    <a class="dropdown-item @@if(link=='account-wishlist.html'){active}" href="@@autopath/account-wishlist.html">Wishlist</a>
    <a class="dropdown-item @@if(link=='account-payments.html'){active}" href="@@autopath/account-payments.html">Payments</a>
    <a class="dropdown-item @@if(link=='account-address.html'){active}" href="@@autopath/account-address.html">Address</a>
    <a class="dropdown-item @@if(link=='account-teams.html'){active}" href="@@autopath/account-teams.html">Teams</a> -->
  </div>
  <!-- End Mega Menu -->
</li>
<!-- End Account -->

<!-- Pages -->
<!-- <li class="hs-has-sub-menu nav-item">
  <a id="pagesMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle @@if(category=='pages'){active}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Insurance & Pricing</a> -->

  <!-- Mega Menu -->
  <!-- <div class="hs-sub-menu dropdown-menu" aria-labelledby="pagesMegaMenu" style="min-width: 14rem;">
    <a class="dropdown-item @@if(link=='page-faq.html'){active}" href="@@autopath/page-faq.html">FAQ</a>
    <a class="dropdown-item @@if(link=='page-terms.html'){active}" href="@@autopath/page-terms.html">Terms &amp; Conditions</a>
    <a class="dropdown-item @@if(link=='page-privacy.html'){active}" href="@@autopath/page-privacy.html">Privacy &amp; Policy</a>
    <a class="dropdown-item @@if(link=='page-coming-soon.html'){active}" href="@@autopath/page-coming-soon.html">Coming Soon</a>
    <a class="dropdown-item @@if(link=='page-maintenance-mode.html'){active}" href="@@autopath/page-maintenance-mode.html">Maintenance Mode</a>
    <a class="dropdown-item @@if(link=='page-status.html'){active}" href="@@autopath/page-status.html">Status</a>
    <a class="dropdown-item @@if(link=='page-invoice.html'){active}" href="@@autopath/page-invoice.html">Invoice</a>
    <a class="dropdown-item @@if(link=='page-error-404.html'){active}" href="@@autopath/page-error-404.html">Error 404</a>
  </div> -->
  <!-- End Mega Menu -->
<!-- </li> -->
<!-- End Pages -->

<!-- Blog -->
<!-- <li class="hs-has-sub-menu nav-item">
  <a id="blogMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle @@if(category=='blog'){active}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blog</a> -->

  <!-- Mega Menu -->
  <!-- <div class="hs-sub-menu dropdown-menu" aria-labelledby="blogMegaMenu" style="min-width: 14rem;">
    <a class="dropdown-item @@if(link=='blog-journal.html'){active}" href="@@autopath/blog-journal.html">Journal</a>
    <a class="dropdown-item @@if(link=='blog-metro.html'){active}" href="@@autopath/blog-metro.html">Metro</a>
    <a class="dropdown-item @@if(link=='blog-newsroom.html'){active}" href="@@autopath/blog-newsroom.html">Newsroom</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item @@if(link=='blog-article.html'){active}" href="@@autopath/blog-article.html">Article</a>
    <a class="dropdown-item @@if(link=='blog-author-profile.html'){active}" href="@@autopath/blog-author-profile.html">Author Profile</a>
  </div> -->
  <!-- End Mega Menu -->
<!-- </li> -->
<!-- End Blog -->

<!-- Portfolio -->
<!-- <li class="hs-has-sub-menu nav-item">
  <a id="portfolioMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle @@if(category=='portfolio'){active}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Portfolio</a> -->

  <!-- Mega Menu -->
  <!-- <div class="hs-sub-menu dropdown-menu" aria-labelledby="portfolioMegaMenu" style="min-width: 14rem;">
    <a class="dropdown-item @@if(link=='portfolio-grid.html'){active}" href="@@autopath/portfolio-grid.html">Grid</a>
    <a class="dropdown-item @@if(link=='portfolio-product-article.html'){active}" href="@@autopath/portfolio-product-article.html">Product Article</a>
    <a class="dropdown-item @@if(link=='portfolio-case-studies-branding.html'){active}" href="@@autopath/portfolio-case-studies-branding.html">Case Studies: Branding</a>
    <a class="dropdown-item @@if(link=='portfolio-case-studies-product.html'){active}" href="@@autopath/portfolio-case-studies-product.html">Case Studies: Product</a>
  </div> -->
  <!-- End Mega Menu -->
<!-- </li> -->
<!-- End Portfolio -->