<footer class="bg-soft-danger">
  <div class="container pb-1 pb-lg-7">
    <div class="row content-space-t-2">
      <div class="col-sm mb-7 mb-sm-0">
        <!-- Logo -->
        <div class="mb-5">
          <a class="navbar-brand" href="@@autopath/index.html" aria-label="Space">
            <img class="navbar-brand-logo" src="@@autopath/assets/svg/logos/prognifylogo.svg" alt="Image Description">
          </a>
        </div>
        <!-- End Logo -->

        <!-- List -->
        <ul class="list-unstyled list-py-1">
          <li><a class="link-sm link-secondary" href="#"><i class="bi-geo-alt-fill me-1"></i> 4563 Washtenaw Ave, Ann Arbor, MI - 48108</a></li>
          <li><a class="link-sm link-secondary" href="tel:1-734-249-6800"><i class="bi-telephone-inbound-fill me-1"></i> +1 (734) 249-6800</a></li>
          <li><a class="link-sm link-secondary" href="mailto: hello@prognifyurgentcare.com"><i class="bi-envelope-fill me-1"></i>hello@prognifyurgentcare.com</a></li>
        </ul>
        <!-- End List -->
        
      </div>
      <!-- End Col -->

      <div class="col-sm mb-7 mb-sm-0">
        <h5 class="mb-3">Services</h5>

        <!-- List -->
        <ul class="list-unstyled list-py-1 mb-0">
          <!-- <li><a class="link-sm link-secondary" href="#">Urgent Care<i class="bi-box-arrow-up-right small ms-1"></i></a></li> -->
          <li><a class="link-sm link-secondary" href="@@autopath/urgent-care.html">Urgent Care</i></a></li>
          <li><a class="link-sm link-secondary" href="@@autopath/virtual-care.html">Virtual Care</a></li>
          <li><a class="link-sm link-secondary" href="@@autopath/mobile-urgent-care.html">Mobile Care</a></li>
          <li><a class="link-sm link-secondary" href="@@autopath/covid-19.html">COVID-19 (Coronavirus)</a></li>
          <li><a class="link-sm link-secondary" href="#">Insurance & Pricing</a></li>
        </ul>
        <!-- End List -->
      </div>
      <!-- End Col -->
      <div class="col-sm">
        <h5 class="mb-3">Employer Services</h5>

        <!-- List -->
        <ul class="list-unstyled list-py-1 mb-0">
          <li><a class="link-sm link-secondary" href="@@autopath/work-related-physicals.html">Work-related Physicals</a></li>
          <li><a class="link-sm link-secondary" href="@@autopath/dot-physicals.html">DOT Physical Exam</a></li>
          <li><a class="link-sm link-secondary" href="@@autopath/drug-screenings.html">Drug Screens</a></li>
          <li><a class="link-sm link-secondary" href="@@autopath/workers-compensation.html">Workers Injury - Workers Comp</a></li>
          <li><a class="link-sm link-secondary" href="@@autopath/on-site-flu-clinics.html">Flu Clinics</a></li>
        </ul>
        <!-- End List -->
     </div>
      <!-- End Col -->
      <div class="col-sm mb-7 mb-sm-0">
        <h5 class="mb-3">Company</h5>

        <!-- List -->
        <ul class="list-unstyled list-py-1 mb-0">
          <!-- <li><a class="link-sm link-secondary" href="#">About</a></li> -->
          <li><a class="link-sm link-secondary" href="#">Careers <span class="badge bg-warning text-dark rounded-pill ms-1">We're hiring</span></a></li>
          <li><a class="link-sm link-secondary" href="#">Blog</a></li>
          <!-- <li><a class="link-sm link-secondary" href="#">FAQs</a></li> -->
          <!-- <li><a class="link-sm link-secondary" href="#">Hire us</a></li> -->
        </ul>
        <!-- End List -->
      </div>
      <!-- End Col -->

      

      <!-- <div class="col-sm">
        <h5 class="mb-3">Follow us or connect with us</h5> -->

        <!-- List -->
        <!-- <ul class="list-unstyled list-py-1 mb-5">
          <li><a class="link-sm link-secondary" href="#"><i class="bi-question-circle-fill me-1"></i> Help</a></li>
          <li><a class="link-sm link-secondary" href="#"><i class="bi-person-circle me-1"></i> Your Account</a></li>
        </ul> -->
        <!-- End List -->
      <!-- </div> -->
      <!-- End Col -->
    </div>
    <!-- End Row -->

    <div class="border-top my-7"></div>

    <div class="row mb-7">
      <div class="col-sm mb-3 mb-sm-0">
        <!-- Socials -->
        <ul class="list-inline list-separator mb-0">
          <li class="list-inline-item">
            <a class="text-body" href="#">Privacy &amp; Policy</a>
          </li>
          <li class="list-inline-item">
            <a class="text-body" href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a class="text-body" href="#">Site Map</a>
          </li>
        </ul>
        <!-- End Socials -->
      </div>

      <div class="col-sm-auto">
        <!-- Socials -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="btn btn-soft-secondary btn-xs btn-icon" href="https://www.facebook.com/PrognifyUrgentCare/">
              <i class="bi-facebook"></i>
            </a>
          </li>
          
          <li class="list-inline-item">
            <a class="btn btn-soft-secondary btn-xs btn-icon" href="https://g.page/r/CciPiCUHQgYeEBA">
              <i class="bi-google"></i>
            </a>
          </li>
          
          <li class="list-inline-item">
            <a class="btn btn-soft-secondary btn-xs btn-icon" href="https://twitter.com/PrognifyUrgent">
              <i class="bi-twitter"></i>
            </a>
          </li>
          
          <li class="list-inline-item">
            <a class="btn btn-soft-secondary btn-xs btn-icon" href="https://www.instagram.com/prognifyurgentcare/">
              <i class="bi-instagram"></i>
            </a>
          </li>
          
          <!-- <li class="list-inline-item"> -->
            <!-- Button Group -->
            <!-- <div class="btn-group">
              <button type="button" class="btn btn-soft-secondary btn-xs dropdown-toggle" id="footerSelectLanguage" data-bs-toggle="dropdown" aria-expanded="false" data-bs-dropdown-animation>
                <span class="d-flex align-items-center">
                  <img class="avatar avatar-xss avatar-circle me-2" src="@@autopath/node_modules/flag-icon-css/flags/1x1/us.svg" alt="Image description" width="16"/>
                  <span>English (US)</span>
                </span>
              </button> -->

              <!-- <div class="dropdown-menu" aria-labelledby="footerSelectLanguage">
                <a class="dropdown-item d-flex align-items-center active" href="#">
                  <img class="avatar avatar-xss avatar-circle me-2" src="@@autopath/node_modules/flag-icon-css/flags/1x1/us.svg" alt="Image description" width="16"/>
                  <span>English (US)</span>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <img class="avatar avatar-xss avatar-circle me-2" src="@@autopath/node_modules/flag-icon-css/flags/1x1/de.svg" alt="Image description" width="16"/>
                  <span>Deutsch</span>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <img class="avatar avatar-xss avatar-circle me-2" src="@@autopath/node_modules/flag-icon-css/flags/1x1/es.svg" alt="Image description" width="16"/>
                  <span>Español</span>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <img class="avatar avatar-xss avatar-circle me-2" src="@@autopath/node_modules/flag-icon-css/flags/1x1/cn.svg" alt="Image description" width="16"/>
                  <span>中文 (繁體)</span>
                </a>
              </div> -->
            <!-- </div> -->
            <!-- End Button Group -->
          <!-- </li> -->
        </ul>
        <!-- End Socials -->
      </div>
    </div>

    <!-- Copyright -->
    <div class="w-md-85 text-lg-center mx-lg-auto">
      <p class="text-muted small">&copy; Prognify Urgent Care 2021. All rights reserved.</p>
      <p class="text-muted small">When you visit or interact with our sites, services or tools, we or our authorised service providers may use cookies for storing information to help provide you with a better, faster and safer experience and for marketing purposes.</p>
    </div>
    <!-- End Copyright -->
  </div>
</footer>